%patterns-type-light {
  font-family: $sans-serif;
  font-weight: 300;
}

%patterns-type-bold {
  font-family: $sans-serif;
  font-weight: 700;
}


%patterns-type-mono {
  font-family: $monospace;
  font-weight: 400;
}